# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom files
data/config.json
data/.DS_Store
src/tests/Archief/.DS_Store
src/tests/Archief.zip
src/tests/.DS_Store
.DS_Store
.pio
.vscode
pio
